@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Tektur&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffffa1;
  border-radius: 10rem;
}
