@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Tektur&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    scroll-behavior: smooth;
}