@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Tektur&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffffa1;
  border-radius: 10rem;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: start;
  gap: 0.5rem;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  border-radius: 0.375rem;
  height: 100px;
  width: 120px;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: '';
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 300ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.527),
    transparent 70%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), white, transparent 100%);
}

.card > .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: var(--card-color);
  border-radius: inherit;
  margin: 3px;
  font-size: 2rem;
  font-weight: 300;
  inset: 1px;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}