h3 {
  position: relative;
  color: hsl(0, 0%, 100%);
  letter-spacing: 3px !important;
  overflow: hidden;
  border-right: 3px solid hsl(0, 0%, 100%);
  white-space: nowrap;
  animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 900ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 380px;
  }
}

@media screen and (max-width: 767px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 240px;
    }
  }
 
}

@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 100%);
  }
  to {
    border-right-color: transparent;
  }
}
